@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: Font1;
  src: url(MULI-BOLD.TTF);
}

@font-face {
  font-family: Font2;
  src: url(MULI-SEMIBOLD.TTF);
}

@font-face {
  font-family: Font3;
  src: url(MULI-REGULAR.TTF);
}

.App{
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: #04ADBF;
  padding-bottom: 100px;
}

.Heading{
  text-align: center;
  color:  white;
  font-size: 40px;
  font-family: Font1;
  padding-top: 50px;
}

.Slogan{
  text-align: center;
  color:  white;
  font-size: 18px;
  margin-bottom: 50px;
  font-family: Font3;
}


.item{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  background: #FFFFFF;
  border-radius: 16px;
  align-items: center;
  padding: 30px;
  overflow-x: hidden;
}


.cname{
  font-size: 18px;
  color: #3D3D3D;
  font-family: Font1;
  margin-left: 10px;
  margin-top: 10px;
}

.des{
  font-size: 13px;
  color: #3D3D3D;
  font-family: Font2;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align:justify;
}

.date{
  font-size: 10px;
  font-family: Font2;
  margin-left: 10px;
  margin-bottom: 10px;
}

.cnamedesdate{
  width: 80%;
  margin-left: 10px;
}

#dp{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.slide{
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.75;
}

.activeSlide{
  transform: scale(1);
  opacity: 1;
  z-index: 10;
  padding-bottom: 35px;
}

.arrow{
  /* background-color: white; */
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  padding-top: 10px;
}

.next{
  right: 45%;
  top: 105%;
}

.prev{
  left: 45%;
  top: 105%;
}

.arrow svg{
  transition: color 300ms;
}

.arrow svg:hover{
  color: rgba(0, 30, 108, 1)
}


.slick-dots li button:before {
  color: #FFAC00;
}

.slick-dots li.slick-active button:before {
  color:#ffffff !important;
}


@media only screen and (max-width: 1200px) {
  .item{
    flex-wrap: wrap;
  }

  .cname{
    text-align: center;
  }

}




